body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    background-color:white;
}
h1{
    text-align: center;
    color:purple;
}
table
{
    width: 100%;
}
h3{
    color: rgb(85, 9, 85);
    margin-top: 30px;
    margin-bottom: 10px;
}
.mydiv{
    padding: 10px;
}
.mytr,
.mytd{
    padding: 8px;
    color: rgb(23, 33, 62);
}
.mytr{
    border: 1px solid grey;
}
.idiv{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px;
    border-radius: 20px;
    background-color:aliceblue;
}
